$COLOR-HEADER-CARD: #ffa35c;
$COLOR-BANNER-PRICE:#ff2600;

body { font-family: sans-serif; }

input { font-size: inherit; display: inline-block; width: inherit; font-weight: inherit; text-align: inherit; min-width: 2ch; }
.w2ch { width: 2ch; }
.w4ch { width: 4ch; }

.error-card-data {
  &:after { content: "falta   " attr(data); display: inline-block; background: #ff00e2; padding: 5px 10px; font-size: 10px; color: white; border: 2px solid #890f0f; }
}

#CardTemplateOne { 
  width: 20cm;   margin: 0 auto; border: 1px solid #c5c5c5;
  header { 
    text-align: center; text-transform: uppercase;
    h1 { background-color: $COLOR-HEADER-CARD; color: white; padding: 15px; font-size: 50px; }
    h2 { padding: 20px; font-size: 30px; }
  }
  section {
    padding: 0 20px;
    .center-body { 
      display: table; width: 100%;
      .body-details, .body-price { display:table-cell; vertical-align: middle; }
      .body-details {
        text-transform: uppercase; text-align: center; position: relative; top: 5px; min-width: 104px; width: 18%;
        span { 
          display: block;
          &:not(.now-detail) { font-size: 14px; }
          &.now-detail { font-weight: bold; font-size: 20px;  }
        }
      }
      .body-price { 
        font-size: 120px; font-weight: bold; margin-left: 20px; text-align: center; width: 82%;
        .main-price-input { width: 7ch; }
        span { vertical-align: middle; }
        .symbol-card { font-size: 65px; margin-right: 12px; }
      }
    }
    .body-other-info { 
      font-weight: bold; font-size: 20px; text-transform: uppercase; display: table; width: 100%;
      >span { 
        display: table-cell;
        &.other-info-text { min-width: 104px; width: 18%; text-align: center;  }
        &.other-info-value { width: 82%; }
      }
      span { vertical-align: middle; }
      .symbol-other-info { margin-left: 32px; margin-right: 10px; font-size: 35px; }
      .price-other-info { text-decoration: line-through; font-size: 28px; width: 10ch; }
    }
  }
  footer {
    margin-top: 30px;
    .details-columns-footer {
      text-transform: uppercase; text-align: center; display: flex; flex-flow: row nowrap; 
      justify-content: space-between; padding: 0 20px; font-weight: bold;
      >span >span { padding: 0 4px; }
      .sap { width: 15ch; text-align: left; }
    }
    .banner-price {
      background-color: $COLOR-BANNER-PRICE; text-align: center; text-transform: uppercase; font-weight: bold;
      margin-top: 30px;
      img, p { display: inline-block; vertical-align: middle; }
      p { 
        color: white; line-height: 2; font-size: 25px;
        span { color: yellow; }
      }
    }
  }

}